@page
@model BlazorServerTrainingJuli.Pages.Modul5.formularModel
@{
}
<form novalidate  method="post">
    <input type="range" min="10" max="100" name="eins"/>
    <input type="datetime-local" name="zwei"/>
    <input type="number" name="drei"/>
    <input required name="vier"/>
    <button type="submit">ok</button>
</form>