@page "/ce"
<h3>ComponentEvents</h3>
<button @onclick="clickme">click</button>

@code {
    protected override void OnInitialized()
    {

    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {

        }
    }
    public void clickme()
    {

    }
}
